@media (min-width: 320px) and (max-width: 575px) {
  nav .contactBtn {
    padding: 6px 15px;
    font-size: 16px;
    margin-top: 10px;
    display: inline-block;
  }
  button.navbar-toggler {
    i.fa-solid.fa-bars-staggered {
      color: white;
    }
  }
  #banner .overlay {
    padding: 30px 0 30px 0;
  }
  #banner .overlay .text_area h1 {
    font-size: 25px;
    line-height: 40px;
  }
  #banner .overlay .text_area p {
    font-size: 16px;
    line-height: 29px;
  }
  #banner .overlay .text_area .banner_btn {
    padding: 8px 13px;
    font-size: 14px;
  }
  #banner .overlay .img_one {
    display: none;
  }
  #banner .overlay .img_two {
    display: none;
  }

  #sucess .sucess {
    border-right: 0;
}
}

/* !============================ (min-width: 576px) and (max-width: 768px) ============================*/
@media (min-width: 576px) and (max-width: 768px) {
  button.navbar-toggler {
    i.fa-solid.fa-bars-staggered {
      color: white;
    }
  }
  nav .contactBtn {
    padding: 6px 15px;
    font-size: 16px;
    margin-top: 10px;
    display: inline-block;
  }
  #banner .overlay .text_area h1 {
    font-size: 40px;
    line-height: 50px;
  }
  #banner .overlay {
    padding: 30px 0 30px 0;
  }
  #banner .overlay .text_area p {
    font-size: 16px;
    line-height: 35px;
  }
  #banner .overlay .img_one {
    display: none;
  }
  #banner .overlay .img_two {
    display: none;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  nav .contactBtn {
    padding: 6px 15px;
    font-size: 16px;
    margin-top: 10px;
    display: inline-block;
  }
  button.navbar-toggler {
    i.fa-solid.fa-bars-staggered {
      color: white;
    }
  }
  #banner .overlay {
    padding: 60px 0 60px 0;
  }
  #banner .overlay .text_area h1 {
    font-size: 60px;
    line-height: 70px;
  }
  #banner .overlay .img_one {
    display: none;
  }
  #banner .overlay .img_two {
    display: none;
  }
  #sucess .last_child {
    border-right: 2px solid #4F585F;
}
}
