.main{
  display: grid;
  height: 500px;
  border: 1px solid red;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas: '. . . n n n n n n . . .';
  grid-row-gap: 20px;
  grid-column-gap: 50px;
}
.item{
  text-align: center;
  font-size: 50px;
  color: white;
  width: 100%;
  background: teal;
  border: 1px solid black;
}

.navbar{
  grid-area: n;
  width: 100%;
  background: blueviolet;
}
.banner{
  grid-column-start: 1;
  grid-column-end: 7;
  width: 100%;
  background: rgb(7, 11, 253);
}
.about{
  grid-column-start: 7;
  grid-column-end: -1;
  width: 100%;
  background: rgb(136, 137, 189);
}
.footer{
  grid-column-start: 1;
  grid-column-end: -1;
  width: 100%;
  background: rgb(190, 160, 163);
}