#service{
  padding-bottom: 130px;
  .service{
    text-align: center;
    h2{
      font-family: "Open Sans", sans-serif;
      font-size: 35px;
      font-weight: 700;
      color: $dark_color;
      margin-bottom: 30px;
    }
    p{
      font-family: "Open Sans", sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
      width: 909px;
      margin: 0 auto;
      padding-bottom: 50px;
    }
    
  }
  .cards{
    box-shadow: 0px 6px 50px 0px rgba(0,0,0,0.06);
    text-align: left;
    padding: 30px;
    img{
      margin-bottom: 30px;
    }
    h3{
      font-family: "Open Sans", sans-serif;
      font-size: 20px;
      font-weight: 700;
      color: $dark_color;
      margin-bottom: 20px;
    }
    p{
      font-family: "Open Sans", sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 30px;
      color: #757575;
      width: 200px;
      text-align: left;
    }
  }
}